spring:
  application:
    name: ai-practice-bot
  datasource:
    url: jdbc:postgresql://localhost:5432/ragdb
    username: aiuser
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-3.5-turbo
      embedding:
        options:
          model: text-embedding-3-small
  mail:
    host: smtp.gmail.com
    port: 587
    username: southernwood.wang@gmail.com
    password: ${GMAIL_APP_PASSWORD} # store as env var
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
server:
  port: 8080