spring:
  application:
    name: ai-practice-bot
  datasource:
    url: jdbc:postgresql://ep-summer-leaf-ahvrspyh-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
    username: aiuser
    password: ${DB_PASSWORD_PROD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-3.5-turbo
      embedding:
        options:
          model: text-embedding-3-small
  mail:
    host: smtp.gmail.com
    port: 587
    username: southernwood.wang@gmail.com
    password: ${GMAIL_APP_PASSWORD} # store as env var
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
server:
  port: ${PORT:8080}